$verylightGreen: hsl(178, 61%, 48%);
$Yellow: hsl(39, 88%, 58%);
$Gray: hsl(200, 23%, 72%);
$darkGreen: hsl(200, 35%, 19%);
$darkerGreen: hsl(199, 32%, 15%);
$varyDarkGreen: hsl(201, 45%, 11%);
$transitioDuaration: 500ms;
