@use "../utils/vars.scss" as vars;
@use "../abstracts/function.scss" as fun;
@use "../abstracts/mixins.scss" as mix;

.info {
  label {
    margin-top: 2vmax;
    display: block;
    color: map-get($map: vars.$primaryColors, $key: "MarineBlue");
    font-size: 19px;
    font-weight: 600;
  }
  input {
    width: calc(100% - 15px);
    border: 1px solid map-get($map: vars.$natural, $key: "CoolGray");
    padding: 14px 0 14px 15px;
    border-radius: 4px;
    color: map-get($map: vars.$primaryColors, $key: "MarineBlue");
    font-size: 17px;
    font-weight: 600;
    display: block;
    &::placeholder {
      color: map-get($map: vars.$natural, $key: "CoolGray");
      letter-spacing: 0.7px;
      font-weight: 700;
      font-size: 17px;
    }
    &:focus {
      border-color: map-get($map: vars.$primaryColors, $key: "MarineBlue");
    }
    &.error {
      border-color: map-get($map: vars.$primaryColors, $key: "StrawberryRed");
    }
  }
  .error-text {
    @include mix.flex(flex-end, center, row);
    margin-top: 5px;
    color: map-get($map: vars.$primaryColors, $key: "StrawberryRed");
    font-weight: 700;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    &.show {
      opacity: 1;
      visibility: visible;
    }
  }
}
